.main-content-report {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-left: 20px;
    height: 100%;
}