html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  min-width: 100vw;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  min-width: 100%;
}

.main {
  flex: 1;
  display: block;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.me {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.me h1 {
  margin: 25px;
  display: block;
}

.p {

  text-align: center;
  justify-content: center;

}

.p p {
  width: 60%;
  margin: auto;
  padding: 10px;
  text-align: center;
  justify-content: center;
  font-size: 1em;
}

.main-content {
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 25px;

}

.main-content-report-kmom {
  display: block !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 25px !important;
}


.bg {
  background-image: url("../img/hacker.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80%;
  min-width: auto;
}

.header-report {
  grid-column: 1 / -1;
  grid-row: 1;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
}


.article {
  grid-column: 2 / 4;
  grid-row: 2;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-left: 25px;
  max-width: 80%;

}



.title {
  display: block;
  text-align: center;
}

.report {
  display: block;
  text-align: left;
  white-space: pre-wrap;
  overflow-y: auto;
  margin: 15px;
}

.footer {
  min-width: 100vw;
  bottom: 0;
  max-height: 150px;
}

@media (max-width: 575px) { 

  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 100vw;
  }

  .container {
    min-width: 100vw;
  }

  header {
    min-width: 100vw;
  }

  .navbar {
    text-align: center;
    margin-bottom: 1em;
    max-height: 80%;
  }

  .navbar ul {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    margin-top: 15px;
  }

  .navbar li {
    margin: 0 1em;
  }

  .navbar a {
    display: inline-block;
    width: 300px;
    width: 20%;
  }

  .bg-image {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
  }

  .bg {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .p p {
    font-size: 1.2em;    
    width: 90%;
  }

footer {
  min-width: 100vw;
  bottom: 0;
}
.footer-wrapper {
  grid-template-columns: 1fr; 
  grid-template-rows: auto auto auto auto;
}

.col{
  font-size: 0.7em;
}
.col ul li {
  font-size: 0.7em; 
}

@media (min-width: 576px) and (max-width: 767px) {

  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  header {
    min-width: 100vw;
  }

  .navbar {
    text-align: center;
    margin-bottom: 1em;
    max-height: 80%;
  }

  .navbar ul {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    margin-top: 15px;

  }

  .navbar li {
    margin: 0 1em;
  }

  .navbar a {
    display: inline-block;
    width: 300px;
    width: 20%;
  }

  .bg-image {
    display: none;
  }


  .bg {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .p p {
    font-size: 1.4em;
    width: 90%;
  }

}
 }


 .date {
   font-size: 1.2em;
   text-align: center;
   border: 2px solid black;
 }