html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 ;
  padding: 0;
  width: 100vw;
}

.main {
  height: 80vh;
  flex: 1;
  display: block;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.me {
  display: block;
  text-align: center;
  justify-content: center;
}

.main-content {
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 25px;

}

.main-content-report {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

}

.header-report {
  grid-column: 1 / -1;
  grid-row: 1;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
}

.aside {
  grid-column: 1;
  grid-row: 2 / 4;
  margin-left: 0;
  justify-content: flex-start;
  background-color: rgb(108, 105, 105);

}

.aside ul {
  list-style: none;
  color: black;

}

.aside ul li {
  margin-top: 25px;
}

.article {
  grid-column: 2 / 4;
  grid-row: 2;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-left: 25px;
  max-width: 80%;

}



.title {
  display: block;
  text-align: center;
}

.report {
  display: block;
  text-align: left;
  white-space: pre-wrap;
  overflow-y: auto;
  margin: 15px;
}

.main-content img {
  width: 300px;
  height: auto;
}

.footer {
  min-width: 100vw;
  bottom: 0;
  max-height: 150px;
}